# comment line - should be ignored
spImagesDirectory = ./dir/
spImagesPrefix = img
# this one too, and the empty lines after this one as well

spImagesSuffix = .png
spNumOfImages = 14 
spPCADimension = 19
spPCAFilename  = ./PCA_file.pca

spNumOfFeatures= 16
spExtractionMode=false
spNumOfSimilarImages=7

spKDTreeSplitMethod=INCREMENTAL
# hopefully it ignored all of those, and this one too
spKNN =17
spMinimalGUI=true
spLoggerLevel = 3
spLoggerFilename = /tmp/spcbir_log.txt

